.container{
    background-image: url('./images/bg-beta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    width: 400px;
    color: white;
    font-family: var(--font);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.17px;
    text-transform: uppercase;
}

.link{
    display: flex;
    gap: 16px;
    font-family: var(--font);
    font-size: 15.62px;
    letter-spacing: 2px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.arrow{
    width: 42px;
    object-fit: contain;
}

.link:hover{
    text-decoration: underline;
}