.container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 0px;
}

@media(max-width: 925px){
    .container{
        grid-template-columns: repeat(2, 50%);
    }   
}

@media(max-width: 550px){
    .container{
        grid-template-columns: repeat(1, 100%);
    }   
}